<div class="hdr">
    <h2>{{formHeading}}</h2>
</div>
<div class="innr_page">
    <div class="hdr">
        <app-input-field class="searchFilter" [config]="searchInput" (keyup)="applyFilter($event, activeTab)"></app-input-field>
        <app-button-field *ngIf="activeTab == 'User Listing'" [config]="addBtn" routerLink="add"></app-button-field>
    </div>
    <mat-tab-group animationDuration="0" (selectedTabChange)="tabChange($event)">
        <mat-tab label="User Listing">
            <app-table *ngIf="tableConfig" [search]="searchList" [tableConfig]="tableConfig" (userInfo)="updateUserInfo($event)"
                (editInfo)="editUser($event)" (deleteInfo)="deleteUser($event)"></app-table>
        </mat-tab>
        <mat-tab label="User Request" *ngIf="currentUser?.userRole == 'superAdmin'">
            <app-table *ngIf="pendingTableConfig" [search]="searchRequest" [tableConfig]="pendingTableConfig" (userInfo)="updateUserInfo($event)"
            (editInfo)="editUser($event)" (updateRequest)="updateRequest($event)"></app-table>
        </mat-tab>
    </mat-tab-group>
</div>