<div class="authPage">
    <div class="lft">
    </div>
    <div class="rgt">
        <h1>Conducting Code Review</h1>
        <ng-container *ngIf="showloginpage && !loader">
            <app-dynamic-form class="feild_50" [config]="config" #form="dynamicForm" (submitted)="forgotPassword($event)"></app-dynamic-form>
            <h5>
              Already have an Account? <a routerLink="/">Login</a>
           </h5>
        </ng-container>
        <mat-spinner *ngIf="loader"></mat-spinner>
        <div class="content" *ngIf="!showloginpage && !verifiedReset && !loader">
            <span *ngIf="validOtp">OTP Received :</span><h3>{{validOtp}}</h3>
            <div class="o-c">
              <div>
                <div class="card" *ngIf="validOtp">
                  <p class="a-o-i">Enter verification code</p>
                  <ng-otp-input  #ngOtpInput  (onInputChange)="onOtpChange($event)" [config]="configs"></ng-otp-input>
                  <button style="width: 104px; margin-top: 18px;margin-left: 113px;
                  width: 104px;" class="btn btn-primary" (click)="otpVerfication()" type="button">Submit</button>
                </div>
              </div>
            </div>
        </div>
    
        <app-dynamic-form *ngIf="verifiedReset && !loader" class="feild_50" [config]="resetPasswordForm" #form="dynamicForm" (submitted)="resetPassword()"></app-dynamic-form>

    </div>
</div>
