<div class="authPage">
  <div class="innerPage">
    <div class="lft">
    </div>
    <div class="rgt">
        <h1>Conducting Code Review</h1>
        <ng-container *ngIf="showloginpage && !loader">
            <app-dynamic-form [config]="config" #form="dynamicForm" (submitted)="forgotPassword($event)"></app-dynamic-form>
            <h5>
              Already have an Account? <a routerLink="/">Login</a>
           </h5>
        </ng-container>
        <mat-spinner *ngIf="loader"></mat-spinner>
        <div class="content" *ngIf="!showloginpage && !verifiedReset && !loader">
            <span *ngIf="validOtp">OTP Received :</span><h3>{{validOtp}}</h3>
            <div class="o-c">
              <div>
                <div class="card" *ngIf="validOtp">
                  <p class="a-o-i">Enter verification code</p>
                  <div class="otp_box">
                    <ng-otp-input  #ngOtpInput (input)="onInput($event)" (onInputChange)="onOtpChange($event)" [config]="configs"></ng-otp-input>
                    <app-errors *ngIf="!errorConfig.hidden" [errors]="errorConfig"></app-errors>
                  </div>
                  <app-button-field [config]="SubmitBtn" (click)="otpVerfication()"></app-button-field>
                  <a class="forgotBtn" (click)="showloginpage = true" >Back</a>
                </div>
              </div>
            </div>
        </div>
    
        <app-dynamic-form *ngIf="verifiedReset && !loader" [config]="resetPasswordForm" #form="dynamicForm" (submitted)="resetPassword()"></app-dynamic-form>
    </div>
  </div>
</div>
