<div class="headerPage">
    <div class="lft">
        <div class="logo">
            <img src="assets/images/logo.png" alt="">
        </div>
    </div>
    <div class="rgt">
        <div class="dropdown">
            <img src="assets/images/profilepic.png" alt="" (click)="expand('profileMenu')" data-bs-toggle="dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink=""> Profile </a></li>
              <li><a class="dropdown-item" routerLink=""> Change Password </a></li>
              <li><a class="dropdown-item" routerLink=""> Logout </a></li>
            </ul>
        </div>

    </div>
</div>