<div class="model_otr">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
  <h1> {{data.heading}} </h1>
  <p> {{data.title}} </p>
  <app-dynamic-form *ngIf="data.config" [config]="data.config" #review="dynamicForm"></app-dynamic-form>
  <div class="btnBx rgt" *ngIf="!data.declinedReason">
    <app-button-field [config]="cancelBtn" (btnClickEvent)="dialogRef.close()"></app-button-field>
    <app-button-field [config]="saveBtn" (btnClickEvent)="onConfirmClick()"></app-button-field>
  </div>
</div>