<div class="authPage">
    <div class="lft">
    </div>
    <div class="rgt">
        <h1>Conducting Code Review</h1>
        <app-dynamic-form class="feild_50" [config]="config" #form="dynamicForm"></app-dynamic-form>
        <div class="buttonBox">
           <a routerLink="../forgot">Forgot password</a>
           <app-button-field [config]="loginButton" type="submit" (btnClickEvent)="login()"></app-button-field>
        </div>
         <h5>
            Don't have an Account? <a routerLink="../signup">Signup</a>
         </h5>
    </div>
</div>
