<!-- <mat-form-field class="searchBox">
  <input matInput (keyup)="applyFilter($event)" placeholder="Search">
</mat-form-field> -->
<table mat-table [dataSource]="tableData" matSort="true" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column" *ngFor="let column of tableConfiguration?.tableHeaders;">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | titlecase}} </th>
    <ng-container *matCellDef="let element;  let index = index">
      <td mat-cell *ngIf="column == 'sr No'">{{(paginatorRef.pageIndex * paginatorRef.pageSize) + (index + 1)}}</td>
      <td mat-cell
        *ngIf="column != 'status' && column != 'action' && column != 'sr No' && column != 'startDate' && column != 'endDate'">
        {{element[column]}} </td>
      <td mat-cell *ngIf="column == 'startDate' || column == 'endDate'">{{element[column] | date : 'MM/dd/yyyy' }} </td>
      <td mat-cell *ngIf="column == 'status'">
        <ng-container *ngIf="currentUser.userRole == 'Admin' || currentUser.userRole == 'superAdmin'">
          <app-button-field (btnClickEvent)="updateStatus(element)" *ngIf="element['statusBtn']"
            [config]="element['statusBtn']"
            [ngClass]="(element['statusBtn'].name==='Active') ? 'active' : (element['statusBtn'].name==='Pending') ? 'pending' : ''"></app-button-field>
        </ng-container>
        <ng-container *ngIf="currentUser.userRole == 'Candidate'">
          {{element[column]}}
        </ng-container>
      </td>



      <td mat-cdell *ngIf="column == 'action'">
        <ng-container *ngIf="(currentUser.userRole == 'Admin'|| currentUser.userRole == 'superAdmin')">
          <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
            (click)="editUser(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" (click)="deleteUser(element)"
            color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="currentUser.userRole == 'Candidate'">
          <mat-icon (click)="viewReview(element)">visibility</mat-icon>
        </ng-container>


      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableConfiguration?.tableHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: tableConfiguration?.tableHeaders;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell noDataTable" [attr.colspan]="tableConfiguration?.tableHeaders.length">
      No records found...
    </td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #paginatorRef></mat-paginator>
<!-- common table me mujhe table hmesha show krwana hai chahe usme record ho chahe na ho toh kaise dikhayu -->