<div class="hdr">
    <h2>{{formHeading}}</h2>
</div>
<mat-tab-group>
    <mat-tab label="User Listing">
        <div class="hdr">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            <app-button-field [config]="addBtn" routerLink="add"></app-button-field>
        </div>
        <app-table *ngIf="tableConfig" [search]="filterValue" [tableConfig]="tableConfig" (userInfo)="updateUserInfo($event)" (editInfo)="editUser($event)" (deleteInfo)="deleteUser($event)"></app-table>
    </mat-tab>
    <mat-tab label="User Request"> Content 2 </mat-tab>
</mat-tab-group>