<div class="hdr">
    <h2>{{formHeading}}</h2>
    <app-button-field [config]="backBtn" routerLink="/codeReview"></app-button-field>
</div>
<div class="code_review">
    <div class="lft" [class.full]="currentUser.userRole == 'Candidate' && !codeReviewData?.reviewedBy">
        <app-dynamic-form [config]="configRequest" #form="dynamicForm"></app-dynamic-form>
    </div>
    <div class="rgt" [class.d-none]="currentUser.userRole == 'Candidate' && !codeReviewData && !codeReviewData?.reviewedBy">
        <p class="reviewdBy" *ngIf="codeReviewData?.reviewedBy && codeReviewData.reviewedBy.name"> {{enum.reviewedBy}} :- {{codeReviewData.reviewedBy.name}} </p>
        <app-dynamic-form [config]="configReview" #review="dynamicForm" ></app-dynamic-form>
    </div>
</div>
<div class="btnBx rgt">
    <app-button-field *ngIf="notView" [config]="addBtn" (click)="codeReview(userId? 'update' : 'add' )"></app-button-field>
</div>
