@import assets/sass/mixin
@import assets/sass/variables

* 
    box-sizing: border-box

html, body, p, ul, li
    margin: 0px
    padding: 0px

body 
    width: 100%
    height: 100vh

.container 
    width: 1140px
    margin: 0 auto

.input
    width: 100%
    border: 0px
    background: $background
    padding: 10px 10px
    margin: 10px 0px
    color: $secondary
    &::placeholder
        color: $placeholder
    &:focus-visible
        outline: 0px

.feild_50
    form
        @include d_c_sb
    app-input-field 
        width: 48%
    app-button-field 
        width: 100%
        text-align: right
        margin-top: 10px

.button 
    padding: 8px 15px
    color: $primary
    font-size: 14px
    font-weight: bold
    border: none
    background: $background-dark
    border-radius: 2px
    cursor: pointer

.main 
    width: 100%
    height: 100%
    @include d_c_c
    background-size: cover
    background-position: center
