<div *ngIf="!config?.hidden" [formGroup]="group" >
  <label *ngIf="config.label" for="">{{config.label}}<span class="astrick" *ngIf="config?.isRequired">*</span></label>
  <mat-form-field>
      <mat-select [placeholder]="config.placeholder"  [formControlName]="config.name">
        <mat-option *ngFor="let option of config.options" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <app-errors *ngIf="config" [errors]="config" [group]="group"></app-errors>
</div>