$primary: #fff
$secondary: #085568
$background: #9acddb
$background-white: #fff
$background-dark: #085568
$background-gradient: linear-gradient(90deg, #085568, #0E110B)
$bg-PageNotFound: #2b323c
$placeholder: #e4e4e4
$box-shadow-inset: inset 0px 0px 40px #085568
$box-shadow: 0px 0px 150px #085568
$text-black: #000
$text-white: #fff