$primary: #fff
$secondary: #25518b
$background: #e3efff
$background-dark: #30538b
$bg-PageNotFound: #2b323c
$placeholder: #a0a0a0
$box-shadow-inset: inset 0px 0px 40px #30538b
$box-shadow: 0px 0px 150px #30538b